

<footer class="d-flex">
    <div>
        <h1 class="text-muted">Footer</h1>
        <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consequuntur dignissimos ipsa maiores nesciunt officiis quidem? Aliquam dolorem dolorum illo molestias quis! Doloribus enim expedita facilis illum, iusto soluta vitae!</p>
    </div>
<!--    Gray separator-->
    <div class="right-line"></div>
    <div>
        <h1 class="text-muted">Title 2</h1>
        <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci culpa deleniti dicta earum enim, eos fugit illo itaque libero maiores omnis, quae quam ratione sit sunt ullam ut? Totam.</p>
    </div>
</footer>